In [1]:
"%10s" % "hi"

'        hi'

In [2]:
"%-10sjane." % "hi"

'hi        jane.'

In [3]:
"%0.4f" % 3.42134234

'3.4213'

In [4]:
"%10.4f" % 3.42134234

'    3.4213'

In [5]:
"I eat {0} apples".format(5)

'I eat 5 apples'

In [7]:
d = "I eat {0} appels and {1} bananas."
d.format(7,10)

'I eat 7 appels and 10 bananas.'

In [10]:
d = "I eat {num1} appels and {num2} bananas."
d.format(num1=9, num2=6)

'I eat 9 appels and 6 bananas.'

In [11]:
"{0:<10}".format("hello") # 왼쪽 정렬, 10 자리수

'hello     '

In [12]:
"{0:>10}".format("hi") # 오른쪽 정렬, 10 자리수

'        hi'

In [13]:
"{0:^12}".format("show") # 가운데 정렬, 12 자릿수

'    show    '

In [14]:
print("{0:=^10}".format("hi"))
print("{0:!<10}".format("hi"))

====hi====
hi!!!!!!!!

In [16]:
y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [17]:
"{0:10.4f}".format(y)

'    3.4213'

In [18]:
"{{ and }}".format()

'{ and }'

In [21]:
name = "홍길"
age = 30
f'나의 이름은 {name} 입니다. 나이는 {age}입니다.'

'나의 이름은 홍길 입니다. 나이는 30입니다.'

In [22]:
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [30]:
d = {'name' : '홍길동', 'age': 30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [10]:
a = {1:'a'}
a[2] = 'b'
a

{1: 'a', 2: 'b'}

In [11]:
a['name'] = 'Pey'

In [12]:
a

{1: 'a', 2: 'b', 'name': 'Pey'}

In [13]:
a[3] = [1, 2, 3]
a

{1: 'a', 2: 'b', 'name': 'Pey', 3: [1, 2, 3]}

In [14]:
del a[1]

In [15]:
a

{2: 'b', 'name': 'Pey', 3: [1, 2, 3]}

In [16]:
a.clear()

In [17]:
a

{}

In [18]:
 a = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}

In [20]:
a.get('name')

'pey'

In [21]:
a.items()

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])